.header {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.Form {
  justify-self: flex-end;
}

.Card-country__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card-country__image {
  width: 30px;
}
